@model IEnumerable<PrintingOrder.Models.Employee>

@{
    ViewData["Title"] = "الموظفين";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary fw-bold">قائمة الموظفين</h2>
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> إضافة موظف جديد
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle shadow-sm rounded">
            <thead class="table-dark">
                <tr>
                    <th>الاسم </th>
                    <th>الكنية </th>
                    <th>اسم الأب</th>
                    <th>ملاحظات</th>
                   
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.Nickname</td>
                        <td>@item.FatherName</td>
                        <td>@item.Notes</td>
                        
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm mb-1">
                                <i class="bi bi-pencil-square"></i> تعديل
                            </a>
                           
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm mb-1">
                                <i class="bi bi-trash"></i> حذف
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
}
